<div class="jumbotron">

    <div id="addComment" >
        <p>{{username}} :</p><br>
        <form name="form" role="form">
            <div id="commentsection" class="form-group" >
                <label for="username">Comment</label>
                <input id="comment" class="form-control" ng-model="comment.text" type="text" name="comment" class="insert" required><br>
            </div>
            <button type="button"  ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary"  ng-click="addComment()" id="upload" class="load-pic btn btn-info" href="#/comment/{{link.id}}">Add</button>
        </form>
    </div>
    <br><br>

    <div id='comments' ng-repeat="comment in recentComments">
        <div class="row">
            <div class="comments-container">

                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">{{comment.username}}</h6>
                                    <button class="btn btn-outline-success" type="button" ng-click="reply()">Write reply</button>
                                    <i class="fa fa-reply"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="comment-content">
                                    {{comment.comment_text}}
                                </div>
                            </div>
                        </div>
                        <input ng-if="replysection" ng-model="comment.text" type="text" name="comment" class="insert" placeholder="Comment" required><br>
                        <button ng-if="replysection" class="btn btn-outline-success" type="button" ng-click="respond()">Reply</button>
                        <ul class="comments-list reply-list">
                            <li>
                                <div ng-if="responded" class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name">{{comment.username}}</h6>
                                        <span>hace 10 minutos</span>
                                        <i class="fa fa-reply"></i>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="comment-content">
                                        {{comment.comment_text}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <button class="btn btn-outline-success" type="button" ng-click="respond()">Reply</button>
                    <input ng-if="responded" ng-model="comment.text" type="text" name="comment" class="insert" placeholder="Comment" required><br>

                </ul>
            </div>
        </div>
    </div>
</div>
