<form method="post" action="/berlinevents/login">
<div id="loginsection">
    <input ng-model="username" type="text" name="username" class="insert" placeholder="Username" required></input><br>
    <input ng-model="password" type="password" name="password" class="insert" placeholder="Password" required></input><br>
    <button type="button" ng-click="submitLogin(); link.title=null; link.url=null" id="loginbutton" class="btn btn-info">Login</button>
</div>
<br><br>
</form>
  <p>If you are not registred please <a href="#/signup">signup</a></p>

<div ng-if="notvaliduser">
    <h2>Invalid username or password, please try again</h2>
</div>
