<!-- <div id="addLink" class="menubar">
    <a ng-click="addLink()">Add Link</a>
</div>
<div ng-controller="loginPhase">
    <div id="login" class="menubar">
        <a ng-click="viewLogin()">Login</a>
    </div>
    <div id="signup" class="menubar">
        <a ng-click="viewSignUp()">Signup</a>
    </div>
    </div> -->


    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#/berlinevents">Home</a></li>
        <li class=""><a ui-sref="addlink">Add Link</a></li>
        <li ng-if="!loggedIn" class=""><a ui-sref="login">Login</a></li>
        <li ng-if="!loggedIn" class=""><a ui-sref="signup">Signup</a></li>
        <li ng-if="loggedIn" class=""><a ui-sref="logout">Logout</a></li>
    </ul>
